



#home h1 {
  transition-delay: 2s;
  transition-duration: 3s;
  color: #fccc63;
  text-align: center;
}

#about {
  text-align: center;
  color: black;
}


#portfolio {
  text-align: center;
}

#portfolio .ptitle {
  color: #fccc63;
  font-size: 30px;
}

/*GitHub Button*/
#portfolio .btn {
  background-color: #fccc63;
  border-radius: 50px;
  border: 3px solid black;
  padding: 12px 38px;
}

#portfolio .btn:hover {
  background: #fff;
  color: #fccc63
}

/*end GitHub Button */
#education {
  text-align: center;
}

#education .etitle {
  color: #fccc63;
}


#contact {
  text-align: center;
}

#contact .ContactTitle {
  color: #fccc63;
  font-size: 30px;
}

/*Linkedin button*/
#contact .btn1 {
  background-color: #2867B2;
  border-radius: 10px;
  color: #fff;
  border: 5px solid black;
  font-size: 25px;
  padding: 5px;
}

#contact .btn1:hover {
  background: #fff;
  color: #2867B2
}
/* end linkedin button */

/*instagram button*/
#contact .btn2 {
  background-color: #e95950;
  border-radius: 10px;
  color: #fff;
  border: 5px solid black;
  font-size: 25px;
  padding: 5px;
}

#contact .btn2:hover {
  background: #fff;
  color: #e95950;
}

/*end instagram button */

/*Facebook button*/
#contact .btn3 {
  background-color: #3b5998;
  border-radius: 10px;
  color: #fff;
  border: 5px solid black;
  font-size: 25px;
  padding: 5px;
}

#contact .btn3:hover {
  background: #fff;
  color: #3b5998;
}



/*End facebook buttton*/
