#home h1 {
  color: #e88a0e;
  text-align: center;
}

#about {
  text-align: center;
  color: black;
}

.img-CyberPunk {
  background-color: black;
  background-image: url(images/CyberPunk.jpg);
}

#portfolio {
  text-align: center;
}

#portfolio .ptitle {
  color: #e88a0e;
  font-size: 30px;
}

/*GitHub Button*/
#portfolio .btn {
  background-color: #e88a0e;
  border-radius: 50px;
  border: 3px solid black;
  padding: 12px 38px;
}

#portfolio .btn:hover {
  background: #fff;
  color: #e88a0e
}

/*end GitHub Button */
#education {
  text-align: center;
}

#education .etitle {
  color: #e88a0e;
}


#contact {
  text-align: center;
}
